@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

body{
    background-image:url(./assets/images/vertical_cloth.png);
    width: 100%;
    height: 100%;
    background-position:center center;
    background-attachment: fixed;
    color: rgb(134, 241, 241);
    padding:0;
    margin: 0;
}

hr{
background-color: #71788b;
height: 2px;
border: none;
}


h5{
    font-family: 'Exo', sans-serif;
    font-size:larger;
    letter-spacing: 2px;
    color: #5e5f61; 
    font-weight: 900;
	 text-transform: uppercase;
    
}

.navbar-brand{
	color: rgb(11, 175, 173)!important;
	font-weight: 200;
	font-size:larger;
	letter-spacing: 1px;
	font-family: 'Kaushan Script', cursive;
}

.navbar-nav .nav-link {
	text-align: start;
}

.navbar-nav .nav-link:hover {
	background-color: #525355; 
	color: #000; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-slow {
  animation: spin 1.5s linear infinite; /* Adjust the duration as needed */
}

main{
	display: block;
	padding: 2rem!important;
}

main section{
	min-height: 65vh;
	min-width: 75vw;
	max-width: 70rem;
	padding: 0.2rem;
	font-weight: lighter;
	margin: 2rem auto;
	justify-content: center;
	text-align: center;
}

#section-home {
	background-image: url('https://images.unsplash.com/photo-1611241893603-3c359704e0ee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
	background-size: cover;
	background-position: center;
	min-height: 10rem; 
	padding: 0;	
}

#hero-heading {
   position: relative;
   bottom: 20%!important;
   background-color: rgba(44, 44, 44, 0.55);
   padding: 2rem 6rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.022); 
   color: #d6e3e3; 
   font-weight: 100;
   font-family: 'Dancing Script', cursive;
   letter-spacing: 1.5px;
   font-size: larger;
}

#hero-heading span {
   font-family: 'Kaushan Script', cursive;
   font-weight: 600;
   font-size: xx-large;
   color: rgb(98, 195, 195);
   letter-spacing: 1.5px;
}

#hero-heading hr{
	background-color: #a3a6b9;
}
form label{
	font-size: small!important;
}

form p{
	font-size: small;
}

.confirm{
	font-size: medium;
	color: white;
}

form button{
   max-width: 5rem;
   font-weight: 700!important;
   font-size: small!important;
}

.btn-info:hover {
	background-color: #03708c;
	color: rgb(247, 244, 244);
}

.searchField{
	font-weight: 900!important;
}

input::placeholder {
	font-style: italic;
   font-weight: 700!important;
   font-size: small;
}

thead{
   font-weight: lighter;
   font-size: small;
   text-align: left;
}

tbody{
    font-weight:600;
    font-size: smaller;
    color: #14172f;
    text-align: left;
}


footer{
	position: fixed;
	bottom: 0px;
	margin: 0;
  
}

footer p{
	color: #19a2a2; 
	font-weight: 100;
	font-size: small;
	font-family: 'Dancing Script', cursive;
	letter-spacing: 1.5px;
}
